.rated-card-cont{
    height: auto;
    width: 14rem;
    cursor: pointer;
    margin-top: 1rem;
}
.addedToCart{
    background-color: #38ddd2;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    letter-spacing: 2px;
    background-color: #f2fffe;
    color: #000;
    border: 2px solid #a1f0ea;
}
#rated-card-img{
    height: 60%;
    width: 100%;
    cursor: pointer;
    position: relative;
}
#rated-card-img img{
    height: 97%;
    width: 100%;
    
}
#cardHoverImg{
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease,transform 2s cubic-bezier(0,0,.44,1.18),-webkit-transform 2s cubic-bezier(0,0,.44,1.18);

}
.outOfStockLabel{
    width: 90%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    justify-content: center;
    z-index: 10;
    color: #000;
    background-color: rgba(255, 255, 255, 0.774);
    letter-spacing: 3px;
    position: absolute;
    bottom: 2rem;
    right: 5%;
    left: 5%;
}
#rated-card-img:hover > #cardHoverImg{
    
    opacity: 1;
}

.rated-card-content{
    height: 40%;
    width: 100%;
    
}
#link{
    text-decoration: none;
}
.card-content-type{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .7rem;
    padding: .5rem .3rem;
}
.card-content-name-like{
    height: 5rem;
    width: 100%;
    display: flex;
    text-decoration: none;
}
.card-content-name{
    height: 100%;
    width: 80%;
    padding: .3rem;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
.card-like{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    
}
.card-like img{
    height: 32%;
    padding: .3rem;
}
.card-animated-btn{
    color: rgb(133, 126, 126);
    letter-spacing: 1px;
    padding: 0.3rem;
    position: relative;
    height: 2.2rem;
    margin-top: 1rem;
    overflow: hidden;
    transition: all .8s;
}
.card-animated-btn::before{
    height: 2rem;
    width: 7rem;
    content: "ADD TO CART";
    position: absolute;
    bottom: -2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    letter-spacing: 2px;
    background-color: #f2fffe;
    color: #000;
    border: 2px solid #a1f0ea;
    transition: all .3s;
}
.card-animated-btn:hover{
    font-size: 0px;
}
.card-animated-btn:hover::before{
    bottom: 0;
}















/* star component  */

#star-btn {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .on {
    color: #38ddd2;
  }
  .off {
    color: #b3eceaad;
  }

  @media (max-width: 480px) {
    .rated-card-cont{
        margin: 0.8rem;
        height:auto;
        width: 10rem;
        cursor: pointer;
        margin-top: 1rem;
    }
    .card-content-name{
        font-size: .5rem;
    }
    .card-content-name-like{
        height: 3rem;
    }
    .card-like img{
        height: 1.4rem;
        width: 1.5rem;
    }
    .card-animated-btn{
        font-size: .6rem;
    }
    .card-animated-btn::before{
        height: 1rem;
        width: 4rem;
        font-size: .5rem;
        letter-spacing: 0;
        
    }
    
    .card-animated-btn::before{
        bottom: 1rem;
    }
  }
  @media (min-width: 481px) and (max-width: 810px){
    .rated-card-cont{
        height: auto;
        cursor: pointer;
        margin-top: 3rem;
    }
    .card-animated-btn::before{
        bottom: 0rem;
    }
  }
