.color-card-cont{
    height: 85%;
    width: 14rem;
    cursor: pointer;
}

.color-card-img{
    height: 60%;
    width: 100%;
    cursor: pointer;
    position: relative;
}
.color-card-img::after{
    content: "out of stock";
    width: 90%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    justify-content: center;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.774);
    letter-spacing: 3px;
    position: absolute;
    bottom: 2rem;
    right: 5%;
    left: 5%;
}
.color-card-img img{
    height: 100%;
    width: 100%;
    
}
.color-card-img::before{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease,transform 2s cubic-bezier(0,0,.44,1.18),-webkit-transform 2s cubic-bezier(0,0,.44,1.18);
    content: "";
    background: url(../../../images/card/jacket-1.jpg) no-repeat center center/cover;
}
.color-card-img:hover::before{
    
    opacity: 1;
}

.color-sec{
    height: 4rem;
}
.color-card-content-name{
    height: 100%;
    width: 80%;
    padding: .3rem;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: .8rem;

    text-transform: uppercase;
}
.choose-color{
    height: 2rem;
    width: 100%;
    padding: 0 .3rem;
}
.choose-color span:nth-child(1){
    padding: 0px 10px;
    border-radius: 50%;
    background-color: #d2a586;
}
.choose-color span:nth-child(2){
    padding: 0px 10px;
    border-radius: 50%;
    margin-left:1rem;
    background-color: #C1BBC7;
}
@media (max-width: 480px) {
    .color-card-cont{
        height: 23rem;
        width: 10rem;
        margin-top: 1rem;
        cursor: pointer;
    }
    .color-card-content-name{
        font-size: .5rem;
    }
    .color-card-content-name-like{
        height: 3rem;
    }
    .color-card-like img{
        height: 1.4rem;
        width: 1.5rem;
    }
    .color-card-img{
        height: 60%;
    }
  }
  @media (min-width: 481px) and (max-width: 810px){
    .color-card-cont{
        height:28rem;
        cursor: pointer;
        margin-top: 3rem;
    }
  }