.log-reg-sec {
  height: auto;
  width: 100%;
  color: #a8e8e2;
  background: url(../../images/shop-header-bg.jpg) no-repeat center center/cover;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{
  text-decoration: none;
  color: #000;
}
.form-heading {
  font-size: 40px;
  font-weight: 600;
  margin-top: 5rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
}

.form-username {
  border-radius: 0;
  width: 35%;
  height: 3rem;
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 4rem;
  font-size: 0.8rem;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  border-bottom: 1px solid rgb(10 10 10 / 10%);
}
.form-btn{
    width: 35%;
    height: 2.8rem;
    background-color: aqua;
    margin-top: 2rem;
}
form button {
  background-color: #a8e8e2;
  width: 100%;
  height: 100%;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.remember-me-cont{
    width: 35%;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.remember-me{
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8rem;
    color: #000;
}
.remember-me input{
    margin-right: 1rem;
}
.remember-me-cont span{
    font-size: .9rem;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
    color: #000;
}


@media (max-width: 480px)  {
  .form-username{
    width: 80%;
  }
  .form-btn{
    width: 80%;
  }
  .remember-me-cont{
    width: 80%;
  }
  .form-heading{
    margin-top: 3rem;
  }
}



@media (min-width: 481px) and (max-width: 810px){
  .form-username{
    width: 70%;
  }
  .form-btn{
    width: 70%;
  }
  .remember-me-cont{
    width: 70%;
  }
  .form-heading{
    margin-top: 3rem;
  }
}