.log-reg-sec {
  height: auto;
  width: 100%;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.form-heading {
  font-size: 40px;
  font-weight: 600;
  margin-top: 3rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
}

.form-username {
  border-radius: 0;
  width: 35%;
  height: 2.5rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 4rem;
  font-size: 0.8rem;
  outline: none;
  font-weight: 600;
  border-bottom: 1px solid rgb(10 10 10 / 10%);
}
.form-btn{
    width: 35%;
    height: 2.8rem;
    background-color: aqua;
    margin-top: 2rem;
}
form button {
  background-color: #a8e8e2;
  width: 100%;
  height: 100%;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.remember-me-cont{
    width: 35%;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.remember-me{
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8rem;
}
.remember-me input{
    margin-right: 1rem;
}
.remember-me-cont span{
    font-size: .9rem;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
}