.productlist-sec{
    height: auto;
    width: 100%;
}
.product-header-cont{
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: url(../../images/shop-header-bg.jpg) no-repeat center center/cover;
}
.product-header-heading{
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    font-size: 4.375rem;
    line-height: 70px;
    text-align: center;
    color: #a8e8e2;
    width: 100%;
}
.product-active{
    background-color: #a8e8e2;
}
.cat-active{
    border-bottom: 2px solid #a8e8e2;
}
.shop-header-category{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-header-category span{
    color: #a8e8e2;
    font-weight: 600;
    line-height: 1.6;
}
.category-item{
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    text-transform: uppercase;
    padding: 2rem 1rem;
}
.product-body-sec{
    height: auto;
    width: 100%;
    display: flex;
}
.product-body-filter-sec{
    height: auto;
    width: 30%;
    padding: 1.5rem;
}
.product-cat{
    width: 100%;
    height: 15rem;
}

.product-cat-item{
    font-size: 1.2rem;
    line-height: 32px;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 2px;
    letter-spacing: 2px;
}

.product-cat-sub-item{
    font-size: 1rem;
    line-height: 32px;
    font-weight: 500;
    border-left:2px solid #a8e8e2;
    padding-right: 2px;
    letter-spacing: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    transition: all 1s ease;
}
.product-cat-sub-item span{
    color: #a8e8e2;
    font-weight: 600;
}
.product-cat-sub-item:hover{
    background-color: #a8e8e2;
    border-radius: 5px
    
}
.size-filterr-cont{
    width: 70%;
    height: 15rem;
    padding: 1.5rem;
}

.f-heading{
    font-size: .875rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.size-cont{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}



.size-cont span{
    box-shadow: 0 0 0 1px rgb(0 0 0 / 20%) inset;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    transition: all 0.6s cubic-bezier(.19,1,.22,1);
    border-radius: 2px;
    cursor: pointer;
    margin:.3rem;
    cursor: pointer;
}

.size-active{
    background-color: #000;
    color:#fff ;
}
.product-filterr-cont{
    width: 100%;
    height: auto;
    padding: 1.5rem;
}
.tag-cont{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.tag-cont span{
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    border: solid 0.0625rem #a8e8e2;
    padding: 0.5rem 0.75rem;
    margin: 0 0.375rem 0.5rem 0;
    display: inline-block;
    font-size: 0.5625rem!important;
    line-height: .625rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.6s cubic-bezier(.19,1,.22,1);
}

.tag-cont span:hover{
    background: #a8e8e2;
}








.product-body-card-sec{
    height: auto;
    width: 70%;
    padding: 1.5rem;
}

.product-card-cont{
    margin-top: 3rem;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.filter-img{
    height: 2.5rem;
    width: 2.5rem;
    display: none;
}
.closeFilter{
    display: none;
}

@media (max-width: 480px){
    .product-body-filter-sec{
        position: absolute;
        left: -50rem;
        width: 80%;
        z-index: 100;
        background-color: #fff;
        transition: all 1s ;
    }
    .product-filterr-cont{
        margin-top: 2rem;
    }
    .filter-active{
        left: 0;
    }
    .product-header-heading {
        font-size: 3rem;
    }
    .product-header-cont {
        height: 10rem;
    }
    .category-item {
        font-size: .6rem;
    }
    .product-body-card-sec{
        height: auto;
        width: 100%;
        overflow: scroll;
    }
    .product-body-card-sec::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    .product-body-card-sec::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
    .product-card-cont{
        align-items: baseline;
        width: 100%;
        flex-wrap: wrap;
    }
    .product-cat-item span{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filter-img{
        display: block;
    }
    .product-cancel{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .closeFilter{
        display: block;
        height: 1rem;
        width: 1rem;
    }
    .card-content-name {
        line-height: 10px;
    }
    .color-card-content-name {
        line-height: 10px;
    }
    .card-animated-btn {
        font-size: 0rem;
    }
}
@media (min-width: 481px) and (max-width: 810px){
    .product-body-filter-sec{
        position: absolute;
        left: -50rem;
        width: 50%;
        z-index: 100;
        background-color: #fff;
        transition: all 1s ;
    }
    .filter-active{
        left: 0;
    }
    .product-body-card-sec{
        width: 100%;
        
    }
    .product-card-cont{
        align-items:baseline;
    }
    .product-cat-item span{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filter-img{
        display: block;
    }
    .product-cancel{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .closeFilter{
        display: block;
        height: 1rem;
        width: 1rem;
    }
}