
.navbar {
    width: 100%;
    height: 4.5rem;
    display: flex;
    transition: all 2s;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 5px 5px 45px -5px rgb(143 197 192 / 20%);
}
.nav-menu{
    height: 100%;
    width: 40%;
    display: flex;
}
.nav-menu-sec{
    height: 100%;
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.responsive-hamburger{
    display: none;
    cursor: pointer;
}
.menu-box{
    height: 2.5rem;
    width: 7rem;
    margin-left: 2rem;
    display: flex;
    cursor: pointer;
    margin-right: 2rem;
    transition: all .5s;
    box-shadow: 5px 5px 25px -5px rgb(143 197 192 / 40%);
}
.menu-box:hover{
    transform: translate(0px,2px);
    box-shadow: 5px 5px 5px -5px rgb(143 197 192 / 40%);
}
.nav-menu-icon{
    height: 100%;
    width: 2.5rem;
    background-color: #a8e8e2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu-icon img{
    height: 50%;
}

.nav-menu-text{
    height: 100%;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    line-height: 40px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 600;
    font-style: normal;
    color: rgb(39, 37, 37);
}

.nav-menu-help{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .5rem;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 2px;
    /* background-color: rgb(255, 148, 9); */
}
.nav-menu-help span{
    font-size: .8rem;
    font-weight: 600;
    color: rgb(39, 37, 37);
}


.nav-logo{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo img{
    height: 100%;
}


.nav-buttons{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-btn-cont{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 8rem;
}
.nav-search{
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-search img{
    height: 30%;
}
.nav-wishlist{
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.nav-wishlist img{
    height: 30%;
    position: relative;
}
.nav-wishlist span{
    padding: 3px 6px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 0px rgb(143 197 192 / 40%);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    background-color: #a8e8e2;
    position: absolute;
    right: .3rem;
    bottom: .8rem;
}
.nav-cart{
    height: 100%;
    width: 5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.nav-cart img{
    height: 35%;
    position: relative;
}
.nav-shop img{
    height: 2.3rem;
}
.nav-cart-data{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: .7rem;
}
.nav-cart-data span{
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(39, 37, 37);
}
.nav-cart-icon-sec{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-cart-icon-sec span{
    padding: 3px 6px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 0px rgb(143 197 192 / 40%);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    background-color: #a8e8e2;
    position: absolute;
    right: .3rem;
    bottom: .8rem;
}







/* side search */

.sideSearch-sec{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: -120%;
    display: flex;
    opacity: 0;
    justify-content: flex-end;
    font-family: 'Dosis';
    transition: all 1s;
    z-index: 100;
    background: rgba(168,232,226,0.7);
}
.sideSearch-active{
    height: 100vh;
    width: 100vw;
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    font-family: 'Dosis';
    z-index: 10000000;
    transition: all 1s;
    background: rgba(168,232,226,0.7);
}
.search-cont{
    height: 100%;
    width: 30%;
    padding: 5rem;
    background-color: rgb(255, 255, 255);
}
.search-title{
    height: auto;
    width: 100%;
    color: #a8e8e2;
    text-transform: uppercase;
    font-size: 2.75rem;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: 7px;
    display: flex;
    justify-content: space-between;
}
.search-title img{
    height: 1rem;
    margin-top: .5rem;
    cursor: pointer;
}
.search-box{
    height: 3rem;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    border-bottom: 2px solid rgb(207, 201, 201);
}
.search-box:hover{
    border-bottom: 2px solid #a8e8e2;
}
.search-box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: rgb(88, 87, 87);
}
.search-icon-img{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.search-icon-img img{
    height: 40%;
}
.search-text{
    height: 15rem;
    overflow: auto;
    width: 100%;
    letter-spacing: 2px;
    line-height: 20px;
    font-size: .8rem;
    margin-top: 5rem;
}





/* side bar  */
.sidebar-section{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: -120%;
    opacity: 0;
    z-index: 100;
    font-family: 'Dosis';
    transition: all 1s;
    background: rgba(168,232,226,0.7);
}
.sidebar-active{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    font-family: 'Dosis';
    z-index: 10000000;
    transition: all 1s;
    background: rgba(168,232,226,0.7);
}
.sideBar-cont{
    height: 100%;
    width: 30%;
    padding: 5rem;
    background-color: rgb(255, 255, 255);
}
.sidebar-cancel img{
    height: 1.2rem;
    cursor: pointer;
}
.nav-routes-sec{
    width: 90%;
    height: auto;
    margin-top: 4rem;
}
.nav-route{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    cursor: pointer;
    color: #000;
}
.nav-route img{
    height: 30%;
}
hr{
    width: 50px;
    opacity: 1;
    display: inline-block;
    height: 1px;
    background-color: #a8e8e2;
    border: none;
    margin: 0 0 5px 0;
    padding: 0;
    box-sizing: content-box;
    
}
.nav-main-route-sec{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}
.nav-main-route{
    height: 3rem;
    width: 60%;
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #000;
    
}
.link-class{
    text-decoration: none;
    color: #000;
}
.nav-route-img{
    height: 100%;
    width: 2.5rem;
    display: flex;
    align-items: center;
}
.nav-route-img img{
    height: 40%;
}
.nav-social-links{
    height: 5rem;
    width: 90%;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-social-links a{
    text-decoration: none;
}
.nav-social-links a img{
    height: 1.5rem;

}
















/* mobile  */
@media (max-width: 480px) {
    /* body{
        background-color: red;
    } */
    .responsive-hamburger{
        display: block;
    }
    .nav-menu-help{
        display: none;
    }
    .nav-btn-cont{
        margin-right: 0;
    }
    .nav-menu{
        justify-content: flex-start;
    }
    .menu-box{
        display: none;
    }
    .nav-search{
        display: none;
    }
    .nav-wishlist {
        display: none;
    }
    .nav-cart-data{
        display: none;
    }
    /* sidebar  */
    .sideBar-cont{
        width: 85%;
    }
    .nav-main-route{
        width: 100%;
        color: #000;
    }
    .nav-routes-sec{
        width: 100%;
    }
    .search-cont{
        width: 90%;
    }
}

  /* tablet */
@media (min-width: 481px) and (max-width: 810px) {
    .nav-menu-help{
        display: none;
    }
    .nav-btn-cont{
        margin-right: 0;
    }
    .nav-menu{
        justify-content: flex-end;
    }
    .menu-box{
        margin-right: 5rem;
    }
    /* sidebar  */
    .sideBar-cont{
        width: 70%;
    }
    .nav-main-route{
        width: 100%;
    }
    .nav-routes-sec{
        width: 100%;
    }
    .search-cont{
        width: 70%;
    }

}