.sidebar-section{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    font-family: 'Dosis';
    z-index: 100000000;
    background: rgba(168,232,226,0.7);
}
.sideBar-cont{
    height: 77%;
    width: 30%;
    padding: 5rem;
    background-color: rgb(255, 255, 255);
}