@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
.main-cont{
    min-height: calc(100vh - 4.5rem);
    width: 100vw;
    overflow: hidden;
    
}