@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  
}
.main-cont {
  min-height: calc(100vh - 4.5rem);
  width: 100vw;
  overflow: hidden;
  box-shadow: 0 0 20px #2696e8, 0 0 60px #2696e8, 0 0 100px #2696e8;

}

/* ===== Scrollbar ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #a7ece6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #a7ece6; 
  border-radius: 5px;
  border: 3px solid #ffffff;
}
/* iframe{
  pointer-events: none;
} */

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

