@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
.main-cont{
    min-height: calc(100vh - 4.5rem);
    width: 100vw;
    overflow: hidden;
    
}

/* ===== Scrollbar ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #a7ece6 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a7ece6;
    border-radius: 5px;
    border: 3px solid #ffffff;
  }



.cursor{
    z-index: 2;
    background: #2696e8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px #2696e8,
    0 0 60px #2696e8,0 0 100px #2696e8;
    animation: colors 5s infinite;
    transform: translate(-50%,-50%);
    position: fixed;
}
.cursor::before{
    content: "";
    position: absolute;
    background: #2696e8;
    width: 50px;
    height: 50px;
    opacity: .2;
    transform: translate(-30%,-30%);
    border-radius: 50%;
}

@keyframes colors {
    0%{
        filter: hue-rotate(0deg);
    }100%{
        filter: hue-rotate(360deg);
    }
}